In [1]:
import os
os.chdir('/content/drive/MyDrive/ChurnAnalysis')

In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
df = pd.read_csv('/content/drive/MyDrive/ChurnAnalysis/dummy_data_csv.csv')

In [4]:
df

      Unnamed: 0  SeniorCitizen  ...  tenure_group_49 - 60  tenure_group_61 - 72
0              0              0  ...                     0                     0
1              1              0  ...                     0                     0
2              2              0  ...                     0                     0
3              3              0  ...                     0                     0
4              4              0  ...                     0                     0
...          ...            ...  ...                   ...                   ...
7027        7038              0  ...                     0                     0
7028        7039              0  ...                     0                     1
7029        7040              0  ...                     0                     0
7030        7041              1  ...                     0                     0
7031        7042              0  ...                     0                     1

[7032 rows x 52 columns]

In [7]:
df.drop(columns=['Unnamed: 0'],axis = 1, inplace=True)

In [8]:
import sklearn
from sklearn.metrics import recall_score, f1_score, confusion_matrix, classification_report, roc_auc_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split

In [9]:
X = df.drop(columns=['Churn'])
Y = df['Churn']

In [14]:
from imblearn.combine import SMOTEENN
sm = SMOTEENN()

In [ ]:
X_re , Y_re = sm.fit_resample(X,Y)

##minmaxscaler

In [16]:
minmax = MinMaxScaler()
X_mm = minmax.fit_transform(X_re)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(X_mm, Y_re, test_size = 0.33)

In [18]:
x_train.shape

(3950, 50)

In [19]:
y_test.shape

(1946,)

In [20]:
from sklearn.linear_model import LogisticRegression

In [22]:
log_reg = LogisticRegression(fit_intercept=False, C=1e12, solver='liblinear')

In [23]:
log_reg.fit(x_train, y_train)

LogisticRegression(C=1000000000000.0, class_weight=None, dual=False,
                   fit_intercept=False, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
pred = log_reg.predict(x_test)

In [25]:
score = log_reg.score(x_test, y_test)
print(score)

0.9075025693730729

Achieved 90% accuracy!

In [26]:
class_report = classification_report(y_test, pred)

In [27]:
print(class_report)

              precision    recall  f1-score   support

           0       0.92      0.87      0.89       867
           1       0.90      0.94      0.92      1079

    accuracy                           0.91      1946
   macro avg       0.91      0.90      0.91      1946
weighted avg       0.91      0.91      0.91      1946